.App {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 2rem;

  height: 100vh;
  padding: 6vh 10%;
  font-size: 1.6rem;
}

header, .header {
  font-family: 'Squada One', cursive;
  font-size: 2.6rem;
  position: relative;
  /* margin: auto; */
}

.--color-primary-txt {
  color: var(--color-primary);
}

.sub-header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.3rem;
}
.sub-header > svg {
  height: 100%;
  width: 4rem;
}

.either-area {
  display: grid;
  grid-template-columns: minmax(20rem, auto) 1fr auto;
  place-items: center;
  gap: 1.5rem
}

button, .button {
  all: unset;
  background: var(--color-primary);
  text-align: center;
  font-size: 30;
  padding: 1rem 3rem;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  border-radius: 7px;
  user-select: none;
  transition: all .3s ease;
}

button:hover, 
.button:hover {
  cursor: pointer;
  background: var(--color-primary-light);
  padding: .7rem 3rem 1.3rem;
  transform: translateY(-3px);
  box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.3);
}

button:active, 
.button:active {
  cursor: pointer;
  background: var(--color-primary);
  transform: translateY(0px);
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.3);
}

.OR {
  font-family: 'Overpass', cursive;
  font-weight: 600;
  font-size: 4vw;
  color: var(--color-light-gray);
  line-height: 1;
  margin: 0;
  margin-top: .5rem;
}

.advance-file-input {
  width: 45vw;
  height: 10rem;
  border-radius: 7px;
  align-items: center;
  margin-top: .7rem;
}

label, .label {
  font-size: 1.8rem;
  font-weight: 600;
}

.error {
  color: rgb(253, 114, 109);
  margin-top: .7rem;
}

a:-webkit-any-link,
a {
  color: black;
  text-decoration: underline;
}


a:hover {
  color: var(--color-primary);
}


@media (max-width: 850px) {
  .either-area {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 1rem;
  }
  
  .either-area .OR {
    margin-top: -1.2rem;
  }

  .advance-file-input { 
    width: 80vw;
  }
}