.App {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 2rem;

  height: 100vh;
  padding: 6vh 10%;
  font-size: 1.6rem;
}

header, .header {
  font-family: 'Squada One', cursive;
  font-size: 2.6rem;
  position: relative;
  margin: auto;
}

.--color-primary-txt {
  color: var(--color-primary);
}

.sub-header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.3rem;
}
.sub-header > svg {
  height: 100%;
  width: 4rem;
}

.either-area {
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;
}

button, .button {
  all: unset;
  background: var(--color-primary);
  text-align: center;
  font-size: 30;
  padding: 1rem 3rem;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  border-radius: 7px;
  user-select: none;
}

.OR {
  font-family: 'Overpass', cursive;
  font-weight: 600;
  font-size: 4rem;
  color: var(--color-light-gray);
  line-height: 1;
}

.drag-drop-area {
  display: grid;
  place-items: center;
  width: 40rem;
  height: 15rem;
  background: var(--color-primary);
  border-radius: 7px;
  align-items: center;
  opacity: 0.7;
}

label, .label {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: .5rem;
}